body {
    background-color: wheat;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    text-align: center;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
}

h1::selection {
    background-color: #a67b5b;
    color: black;
}

p::selection {
    background-color: #a67b5b;
    color: black;
}

img::selection {
    background-color: #a67b5b;
    color: black;
}

h1 {
    font-size: 40px;
    margin-top: 0px;
    margin-bottom: 0px;
}

p {
    font-size: 20px;
    margin-bottom: 0px;
}